.snack {
  margin: 20px;
}
.snack > input[type="text"] {
  width: 12rem;
  height: 2rem;
  margin-bottom: 1rem;
}
.snack-table {
  width: 100%;
  border-collapse: collapse;
}

.snack-table th,
.snack-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.snack-table th {
  background-color: #f2f2f2;
  cursor: pointer;
}
